{% assign session = site.data.sessions | where: "session", page.session | first %}
{% unless session %}
No session found for session {{page.session}}
{% endunless %}

| Character | Player |
| --- | --- |
{%- for charactername in session.characters -%}
  {% assign character = site.data.characters | where: "character", charactername | first %}
  | <a href="{{character.dndbeyond}}">{{charactername }}</a> | 
  {%- if character.player %}
  {{- character.player }} |
  {%- else -%}
  No player found? |
  {%- endif %}
{%- endfor %}

### Experience awarded: {{ session.xp }}
