{% assign session = site.data.sessions | where: "session_number", page.session | first %}
{% unless session %}
No session found for session {{page.session}}
{% endunless %}

| Character | Additional XP | Player |
| --- | --- | --- |
{%- for party_member in session.party -%}
  {% assign character = site.data.characters | where: "name", party_member.name | first %}
  | <a href="{{character.dndbeyond}}">{{party_member.name }}</a> | 
  {%- if character.player %}
    {{- party_member.additional_xp }} | {{- character.player }} |
  {%- else -%}
    No player found? |
  {%- endif %}
{%- endfor %}

### Experience awarded: {{ session.xp }}
